<!DOCTYPE html>
<html>
	<head>
		<%include ../partials/head.ejs%>
		<%include ../partials/nav.ejs%>
	</head>
	<body>
		<header>
			<h1>Financial Plans</h1>
		</header>
		<main>
			<h2>List of Financial Plans</h2>
			<ul>
				<% for(let i = 0; i < plans.length; i++){ %>
					<li>
						<a href="/plans/<%=plans[i]._id%>"><%=plans[i].planName%></a>
					</li>
				<% } %>
			</ul>
		</main>
		<%include ../partials/footer.ejs%>
	</body>
</html>
