<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Financial Plans</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/plans/new">Create a new Financial Plan</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Financial Plans</h2>
			<ul>
				<% for(let i = 0; i < plans.length; i++){ %>
					<li>
						<a href="/plans/<%=plan[i]._id%>"><%=plans[i].planName%></a>
					</li>
				<% } %>
			</ul>
		</main>
	</body>
</html>
