<!DOCTYPE html>
<html>
	<head>
		<%include ../partials/head.ejs%>
		<%include ../partials/nav.ejs%>
	</head>
	<body>
		<header>
			<h1>Creating a Financial Plan</h1>
			<nav>
				<ul>
					<li>
						<a href="/plans">Financial Plans Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/plans" method="post">
				<select name="customerId">
                    <% for(let i = 0; i < customers.length; i++) { %>
                        <option value="<%=customers[i]._id%>"><%=customers[i].firstName%> <%=customers[i].lastName%></option>
                    <% } %>
                </select><br/>
				Plan Name: <input type="text" name="planName" /><br/>
				Expense Category: <input type="text" name="expenseCategory1" /><br/>
				Expense Amount: <input type="number" name="expenseAmount1" /><br/>
				Expense Category: <input type="text" name="expenseCategory2" /><br/>
				Expense Amount: <input type="number" name="expenseAmount2" /><br/>

				<input type="submit" value="Save new plan"/>
			</form>
		</main>
	<%include ../partials/footer.ejs%>
	</body>
</html>
