<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <div class="main-header">
        <a href="/"><h1>The Budgeteer financial planner</h1></a>
        <a href="/customers/new"><button type="button" class="create-new">New Customer</button></a>
        <a href="/plans/new"><button type="button" class="create-new">New Financial plan</button></a>
      </div>
    </nav>
  </body>
</html>
